*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

h1,h2{
    margin: 10px auto;
}

.divider{
    height: 2px;
    background-color: black;
    margin: 0;
    padding: 0;
}

body{
    border: 2px solid black;
    border-radius: 5px;
    max-width: 500px;
}

.bodyText{
    padding: 0 20px;
}

.productList{
    padding: 0 20px;
    margin: 10px 0;
    display: inline-block;
    text-align: left;
    width: 70%;

}
button{
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    margin-right: 20px;
}

li {
    padding: 0 20px;
    margin: 10px 0;
}

p{
    font-size: small;
    margin-bottom: 10px;
}